<header>
  <nav class="">
    <div class="flex h-16 bg-white border-b border-gray-200 justify-end">
      <div class="pr-4">

      </div>
      <div class="pr-4">

      </div>
    </div>
  </nav>
</header>
