<div class="container mt-10 mx-auto">
  <header class="w-full">
  <div>
    <div class="flex justify-end">
      <%= image_tag("bsp_logo.png", :alt => "logo", :class => "h-32 block") %>
    </div>
    <div class="flex justify-end text-right">
      <div class="text-gray-600">
        <div>
          <p>BSP-Experience</p>
          <p>Represented by</p>
        </div>
        <hr />
        <div>
          <p>Nordic Pulse OÜ</p>
          <p>Kunderi 10-01</p>
          <p>10128 Tallinn</p>
          <p>Estonia</p>
        </div>      
      </div>
    </div>
  </div>
  </header>

  <section>
    <h1 class="text-lg font-bold">Artist Engagement Contract</h1>
    <p>1. Parties</p>
    <p>This Agreement is made between:</p>
    <p>1.1 Nordic Pulse OÜ, representing the band BSP (hereinafter referred to as "Employer").</p>
    <p>1.2 [Artist’s Full Name] (hereinafter referred to as "Artist").</p>
  </section>

  <footer>
  </footer>
</div>
