<div class="flex flex-wrap">
  <%= render "shared/posts", posts: @posts, pagy: @pagy, editable: true %>
  <div class="w-1/3">
    <%= link_to new_admin_post_path, class: "flex items-center px-4 py-2 mt-2" do %>
      <svg class="h-12 w-12 mr-2 text-gray-800 hover:bg-gray-200"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
      </svg>      
    <% end %>
  </div>
</div>
